@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);



/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  transition: color .3s;
}

.icon-up-open-big:hover:after {
    color: white;   
}

.scroll-icon {
    position: absolute;
    left: 50%;
  bottom: 30px;
  padding: 0 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
    float: left;
    

}
.l-left img{

    margin-left:30px;
}

.l-right {
    float: right;
    height: 32px;
    margin-top: 10px;
    margin-right: 0;
    position: relative;
    vertical-align: top;
}

.login-button{

    background-color: #ffffff;
    color: #000000;
    max-width: 200px;
    overflow: hidden;
    
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 3px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    text-transform: lowercase;
   
    
}

.signup-button{

    background-color: #ffffff;
    color: #000000;
    max-width: 200px;
    overflow: hidden;
    margin-left: 20px;
    
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 3px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
   
    text-decoration: none;
    text-transform: lowercase;
   
    
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    transition: opacity, transform 1s, -webkit-transform 1s;
    transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', Arial, sans-serif;
    text-transform: uppercase;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    letter-spacing: .18em;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
    background: transparent !important;
    height: 70px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
}

h1 {

    line-height: 70px;
    height: 70px;
}

h1 a {
    display: block;
    padding: 0 10px;
}

.toggle-menu {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 2px;
    background: white;
    width: 30px;
    left: 10px;
    transition: all .3s;
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

nav {
    height: 0;
    opacity: 0;
  box-sizing: border-box;
    background: rgba(0, 47, 77, .25);
    position: fixed;
    top: 70px;
    width: 100%;
  transition: all 3s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 10px;
    display: flex;
}

nav li {
    flex: 1;
}

nav li a {
    font-size: 2em;
    display: block;
    padding: 30px;
    text-align: center;
    transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
    background: #962D3E;
}

nav li:nth-child(even) a {
    background: #aa3346;
}

nav li:nth-child(odd) a:hover {
    background: #9e2f41;
}

nav li:nth-child(even) a:hover {
    background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
    text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
    text-transform: none;
    font-size: 4em;
    margin-bottom: 20px;
    color:#ffffff;
}

h3 {
    font-weight: 300;
    font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 1 ;
    background-color: #fff !important;
    box-sizing: border-box;
    
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-top: 1px;
    }
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
        padding: 20px 0;
    }

    nav li a {
        padding: 3px;
    }
}

/*  Logo Style */

.logo-word.large {
    float: none;
}
.logo-word {
    overflow: hidden;
    margin: auto;
    width: 232px;
    height: 100px;
    padding: 0;
    font:inherit;
    font-size:100px;
    font-weight:700;
    color:#ffffff;
    text-transform: lowercase;
    vertical-align: baseline;
    margin-top: 10%;
   
}

.logo {
    float: left;
    height: 100%;
    width: auto;
    overflow: hidden;
    margin-right: -3px;
}
.png-logo {
    float: left;
    height: 100%;
    width: auto;
    overflow: hidden;
    margin-right: -3px;
    padding: 11px 18px 6px 22px;
    width: 20px;
    height: 34px;
      background-size: 20px 34px;
}


/* Section title */
/* fifth section*/

@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-content1 {

    width: 600px;
}
.section-content1 {
    margin: 0 auto;
    width: 600px;
   margin-top: 10%;
}
.section-content1 {
    line-height: 1.4;
}
.section-content1 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1.4;
    margin-bottom: 15px;
    text-transform: none;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.section-title1{
    font-size: 34px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-title1 {
    font-size: 42px;
}
 .section-title1 {
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: none;
}}

/* section-content */

@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-content1 {

    width: 600px;
}
.section-content{
    margin: 0 auto;
    width: 600px;
   margin-top: 25%;
}
.section-content {
    line-height: 1.4;
}
.section-content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1.4;
    margin-bottom: 15px;
    text-transform: none;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.section-title{
    font-size: 34px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-title {
    font-size: 42px;
}
 .section-title {
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: none;
}

.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background-color: #fff !important;
    box-shadow: none;
    opacity: 1;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: transparent;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
}
/*. blog content */

/* Section title */
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-blog-content {

    width: 600px;
    text-align: justify;
}
.section-blog-content {
       margin-bottom: 20px;
    position: relative;
    width: 500px;
    z-index: 2;
   line-height: 1.4;
    text-align: left;
   
}
  

.section-blog-content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1.4;
    margin-bottom: 15px;
    text-transform: none;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.section-blog-title {
    font-size: 34px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-blog-title {
    font-size: 42px;
}}




@media only screen and (max-height: 700px), only screen and (max-width: 1100px){
.section-blog-wrapper {
    margin-left: 80px;
    margin-top: 40px;
}}
@media only screen and (max-height: 810px){
 .section-blog-wrapper {
    margin-left: 120px;
    margin-top: 40px;
}
 .section-blog-wrapper {
    margin-left: 160px;
    margin-top: 100px;
}

 .section-blog-title {
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: none;
}
}
/* blog graphic */

@media only screen and (max-height: 700px), only screen and (max-width: 1100px){
.blogs-graphic {
    transform-origin: 0 0;
    transform: scale(.75);
}}
@media only screen and (max-height: 810px){
.blogs-graphic {
    transform-origin: 0 0;
    transform: scale(.85);
}
.blogs-graphic {
    position: relative;
    width: 1280px;
    z-index: 1;
    margin-left:-200px;
}
.blogs-graphic.active .blogs-post-column:first-child {
    transition-delay: .08s;
}
.blogs-graphic.active .blogs-post-column, .blogs-graphic.active .blogs-post {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
}
.blogs-post-column {
    float: left;
    margin-right: 20px;
    
    width: 300px;
    transform: translateX(100px);
}

 .blogs-post {
    background: #fff;
    border-radius: 3px;
    margin: 0 0 20px;
    
    width: 300px;
    transform: translateX(200px);
}
 .post-image {
    display: block;
    height: auto;
    width: 100%;
    
}

 .blogs-post:first-child {
    transition-delay: .08s;
}
 .blogs-post-column {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
}


  .post-top {
    height: 45px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
 .post-bottom {
    height: 45px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

  .ui-avatar {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    height: 25px;
    float: left;
    margin-right: 10px;
    width: 25px;
}

 .ui-username {
    color: #8f8f8f;
    float: left;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
}

/* dashboard content */

@media only screen and (max-width: 900px){
.dashboard-content {
    margin-left: 50px;
    width: 250px;
}}
@media only screen and (max-width: 1100px){
.dashboard-content {
    margin-left: 80px;
}
.dashboard-content {
    left: 50%;
    margin-left: 140px;
    position: relative;
    width: 370px;
}
}
/* Section title */
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-dashboard-content {

    width: 600px;
}
.section-dashboard-content {
    margin: 0 auto;
    width: 600px;
   margin-top: 15%;
   text-align:left;
}
.section-content {
    line-height: 1.4;
}
.section-dashboard-content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:200;
    line-height: 1.4;
    margin-bottom: 15px;
    text-transform: none;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.section-dashboard-title {
    font-size: 24px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.section-dashboard-title {
    font-size: 32px;
}
 .section-dashboard-title {
    color: #fff;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: none;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.dashboard-graphic img{
    font-size: 24px;
    margin-left: 50px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
.dashboard-graphic img{
    font-size: 32px;
    margin-left: 50px;
}}

@media only screen and (max-width: 900px){
.dashboard-graphic {
    transform: scale(.5);
    
}}
@media only screen and (max-width: 1100px){
.dashboard-graphic {
    transform-origin: 70% 0;
    transform: scale(.7);
     margin-left: 60%;
}
 .dashboard-graphic {
   
    margin-left:-100px;
    position: absolute;
    top: 100px;
}
#img1{
    width:50%;
    height:50%;
}
}
/* create graphic */

@media only screen and (max-height: 540px), only screen and (max-width: 900px){
 .create-graphic {
    width: 500px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
 .create-graphic {
    margin-top: 30px;
    width: 600px;
}
 .create-graphic {
    margin: 120px auto;
    width: 600px;
}
.create-graphic .post-icon{
    background: #fff;
    border-radius: 50%;
    color: #f2992e;
    cursor: default;
    display: inline-block;
    font-size: 30px;
    height: 100px;
    line-height: 85px;
    margin: 15px 15px 30px;
    align-items:center;
    position: relative;
    vertical-align: top;
    width: 100px;
    transform-origin: 50% 50%;   
}
.showcase .create-section .create-graphic .link-icon {
    font-size: 50px;
}}
@media only screen and (max-height: 540px), only screen and (max-width: 900px){
 .create-graphic .post-icon {
    font-size: 30px;
    height: 80px;
    line-height: 75px;
    width: 80px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
 .create-graphic .link-icon {
    font-size: 70px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
 .create-graphic .post-icon {
    font-size: 40px;
    height: 100px;
    line-height: 80px;
}
 .icon-label {
    color: #fff !important;
    font-size: 16px;
    left: 0;
    line-height: 1;
    margin-top: 15px;
    position: absolute;
    top: 100%;
    width: 100%;
}
.text-icon{
    width:30px;
    height:30px;
}
}

@media only screen and (max-height: 540px), only screen and (max-width: 900px){
.create-graphic .post-icon .icon-label {
    font-size: 14px;
    margin-top: 8px;
}}
@media only screen and (max-height: 800px), only screen and (max-width: 1100px){
 .create-graphic .post-icon .icon-label {
    margin-top: 10px;
}
 .create-graphic .post-icon .icon-label {
    color: #fff;
    font-size: 16px;
    left: 0;
    line-height: 1;
    margin-top: 15px;
    position: absolute;
    top: 100%;
    width: 100%;
}


#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;

}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #fff;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
   
    position: relative;
    width: 16px;
    box-sizing: border-box;
}
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background-color: #fff !important;
    box-shadow: none;
    opacity: 1;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: transparent !important;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: unset !important;
    width: 100%;
    height: 100%;
}

.login_style{

         width: 300px;
    height: 44px;
    background: #ffffff;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    text-transform: none;
    padding: 11px 10px 11px 13px;
    box-sizing: border-box;
   border-width:1px !important;
   border-top: 0px;
   border-left:0px;
    
      }
      .lf-block_right socials_email socials_email_login email-enabled
      {
         display:none;
         border-top: 1px solid #e3e3e3;

}
      #login_form{

          width: 300px;
    height: 44px;
         position: relative;
    z-index: 3;
   
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
   
    vertical-align: baseline;
    margin-top:2%;
    padding: 2px 6px 3px;
    text-align:center;
    background-color: #3f7eb3;
    border:none !important;
    color:white;
    text-transform: none;
    border-radius:2px;
      }
      .forgot a{

        
    text-decoration: none;
    text-transform: none !important;
    color: #fff;
    font: 14px/0.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

      }
      .forgot{
         margin-top: 2% !important;
      }
      .signUp_signIn__link{

         margin-top: 3% !important;
      }
      #sign_up_button{

         width: 300px;
    height: 44px;
         position: relative;
    z-index: 3;
   
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
   
    vertical-align: baseline;
    margin-top:2%;
    padding: 2px 6px 3px;
    text-align:center;
    background-color: #3f7eb3;
    border:none !important;
    color:white;
    text-transform: none;
    border-radius:2px;
      }
      #captcha_style{
          width: 300px;
    height: 44px;
    background: #ffffff;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    text-transform: none;
    padding: 11px 10px 11px 13px;
    box-sizing: border-box;
   border-width:1px !important;
   border-top: 0px;
   border-left:0px;
    

      }
      .lf-input__wrap.captcha{
          display: inline-block;
          margin-top:1%;
      }
      .signUp_signIn__link{

         font-size:18px;

      }
      .button1{
         background:transparent;
         border:none; 
         font-size:18px;
          text-transform:none;color:#ffffff

      }

